html{
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-height: 100%;
}

.room {
  position: relative;
  width: 1330px;
  height: 600px;
  margin: 6px;
  border: 2px solid black;
  border-radius: 3px;
  cursor: none;
}

.centered {
  text-align: center;
}

.person {
  position: absolute;
  width: 7px;
  height: 10;
}

.disco-box{
  position: absolute;
  left: 0;
  right: 0;
  margin: 100px auto;
  height:300px;
  width:300px;
}

.discoball {
  margin: auto;
  left: 0;
  right: 0;
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
